/*
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figure{
  width: 33%;
  height: 300px;
  display: inline-block;
  margin: 0px;
}
*/
:root {
  --colorFondo: #e0ccff;
}

#enlace {
  font-size: 20px;
}
  
#enlace:hover{
  font-size:50px;
  background-color:yellow;
  -ms-transform: translate(25px,10px);
}

#imagenCambios{
  border-image: initial;
}

#imagenCambios:hover{
  /*-ms-transform: rotate(45deg);*/
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  /*-o-transform: rotate(45deg);*/
  transform: rotate(15deg);
  border-radius: 20px;
  width:100px;
  padding:10px;
  opacity:0.3;
}
#textoCambios{
  border
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
}
body {
  background: var(--colorFondo); 
}
details{
  display: block;
}

ul{
  display: block;
}

@media screen and (max-width: 900px){
  figure{
    height: 300px;
  }
}

@media screen and (max-width: 600px){
  figure{
    height: 200px;
  }
}