
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figure{
  width: 33%;
  height: 300px;
  display: inline-block;
  margin: 0px;
}
* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background: rgba(0, 0, 128, 0.1); /* Azul al 10% */
}

@media screen and (max-width: 900px){
  figure{
    height: 300px;
  }
}

@media screen and (max-width: 600px){
  figure{
    height: 200px;
  }
}

/*Modificaciones de clases de bootstrap*/
.marco{
  display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 10px;
}
.contenedor{
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  width: 100%;
}
.carousel img {
  max-height: 300px;
  margin: 20px auto;
  height:300px !important;
}

.carousel-caption{
  background-color: rgba(217, 217, 217,0.6);
  padding:10px;
  color:black;
}

