@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  --verdeclaro: #e6fff2;
  --colorBasico: rgb(155, 207, 234);
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
  }

body {
    background-image: url("../IMAGENES/fondobueno.jpg");
  
    background-repeat: no-repeat;
    /*Para que la imagen no se repita*/
    background-size: cover;
    /*La imagen se reescala automáticamente con el cambio de ancho de ventana del navegador*/
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
}

.marco {
    display: grid;
    grid-template-columns: 250px repeat(3, 1fr);
    grid-template-rows: 160px 40px auto 40px;
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
  }
  
  .encabezado {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    position: relative;
    background-color: rgb(155, 207, 234,0.7);
  }
  
  .migas {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    position: relative;
    top: 0px;
    left: 5px;
    font-size: 20px;
  }
  
  .contenedor {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    /*overflow: scroll;*/
    /*solamente desplaza en scroll este apartado*/
    position: relative;
    top: 20px;
  }
  
  .pie {
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
    position: relative;
    top: 50px;
    font-size: 20px;
  }
  h1{
    font-family: 'Indie Flower', cursive;
    color: rgb(39, 120, 167);
    text-shadow: 1px 1px rgb(43, 56, 168), -1px -1px #333;
    font-size: 10em;
    padding-top: 5%;
  }

  h1.relieve {
    text-shadow: 1px 1px white, -1px -1px #333;
    background-color: #ddd;
    color: #ddd;
    padding: 10px;
 } 
  
  .contencabezado{
      margin: 0px;
      margin-top: 40px;
      padding: 0px;
      text-align: center;
      text-decoration: none; 
      border: 4px solid rgb(39, 120, 167);
      background-color: rgb(230, 255, 245, 0.2);
      border-radius: 10px;
      width: 15%;
      margin-left: auto;
      margin-right: auto;
  }
  
  .menu ul {
      margin: 0;
      list-style: none;
      padding: 0;
      display: flex;
      /*Coloca los li en una fila, la propiedad display reemplaza a float*/
      border-top-color: white;
      border-top-width: 1px;
      
    }
    
    .elementoMenu {
      border-right: 1px solid white;
      background-color: var(--colorBasico);
      border-radius: 5px ;
      border-color: rgb(230, 255, 245, 0.2);
      margin-right: 2px;
    }
    
    .elementoMenu:hover {
      background: rgb(230, 255, 245, 0.2);
    
    }
    
    .elementoMenu a {
      display: block;
      /*Para que el enlace tenga efecto en todo el rectángulo*/
      padding: 10px 20px;
      color: rgb(39, 120, 167);
      text-decoration:none;
      text-align: center;
      font-weight: bold;
    }

    .footer{
      font-size: 30px;
      background-color: rgb(155, 207, 234,0.7);
      position: absolute;
      width: 100%;
    }

    .social-media-links{
      background: rgb(155, 207, 234,0.4);
      overflow: hidden;
      padding-bottom: 4px;
		  text-align: center;
    }
    .ulfooter{
      margin: 0px;
      padding: 0px;
    }
    .lifooter{
      display: inline;
      margin: 0px;
      padding: 0px;
    }
    .afooter{
      border-bottom: 0px solid rgba(0,0,0,0.95);
			border-radius: 4px;
			box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
			display: inline-block;
      height: 30px;
			padding: 20px;
			position: relative;
			transition: .2s ease-in;
      width: 30px;
    }
    .glow{
      left: 20px;
      position: absolute;
      top: 20px;
			height: 30px;
			width: 30px;
    }
    path, circle {
      transition: .2s ease-in;
    }
    .afooter:hover{
      transform: translateY(-4px);
			box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout(@tealMid, 75), 0 83px 4px 0px fadeout(@tealMid, 5);
    }
    .final{
      position: relative;
      text-align: center;
    }
  
    /*Botón día noche*/
    .dia {
      background-color: gray;
    }
    
    .noche {
      background-color: #2c2a2a;
    }
    .boton{
        float:left;
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #1883ba;
        border-radius: 6px;
        border: 2px solid #0016b0;
        
    }
    .CBoton{
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      left: 80%;
      top:45px;
    }

    .marron{
      color:var(--colorBasico);
    }

    .negra{
      color: #2c2a2a;
    }
  
    .svg{
      position: absolute;
      left: 90%;
      top:27px;
    }

    img{
        width: 100%;
        border-radius: 15px 15px 0px 0px;
      }
      .carta{
        position: relative;
        transition: 2s ease-in-out;
        transform-style: preserve-3d;
        -moz-perspective: 800;
        -webkit-perspective: 800;
        perspective: 800;
        background-color: var(--colorBasico);
        border-radius: 15px 15px 15px 15px;
        margin: 10%;
      }
      .carta:hover{
        transform: rotateY(180deg);
      }
      .atras{
        transform: rotateY(180deg);
        position: absolute;
        top:0;
        left: 0;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        
        background-color: var(--colorBasico);
        width: 100%;
        height: 100%;
        
        border-radius: 15px 15px 15px 15px;
      }
      .adelante{
        text-align: center;
      }
      
      .dia {
        background-color: gray;
      }
      
      .noche {
        background-color: #2c2a2a;
        color: white;
        border-radius: 15px 15px 15px 15px;
      }
    
    /*CSS EN ELEMENTOS BOOTSTRAP*/
    /*
   .mi-container{
     width: 0%;
   }*/
  
  @media screen and (max-width: 900px) {
    .menu {
      position: absolute;
    }
    .svg{
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .contencabezado{
      width: 100%;
    }
    .encabezado{
      display: none;
    }
    .migas {
      display: none;
    }
    .contenido {
      display: block;
    }
    .svg{
      display: none;
    }
  }
