<body>
    <!-- bloque de contenido de la pagina -->
    <div class="marco">
        <div class="encabezado">
            <div class="CBoton">
                <button class="boton">Día/Noche</button>
            </div>
            <svg class="svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0"
                style="enable-background:new 0 0 100 100;" xml:space="preserve">
                <g>
                    <path style="fill:#030104;" d="M90,6H10C4.5,6,0,10.5,0,16v55c0,5.5,4.412,10.883,9.807,11.961l21.859,4.372
		c0,0-18.814,6.667-6.666,6.667h50c12.15,0-6.666-6.667-6.666-6.667l21.861-4.372C95.588,81.883,100,76.5,100,71V16
		C100,10.5,95.5,6,90,6z M90,70.5H10V15h80V70.5z" />
                </g>                <g></g>                <g></g>                <g></g>                <g></g>                <g></g>                <g></g>                <g></g>                <g></g>                <g></g>                <g></g>                <g></g>                <g></g>                <g></g>                <g></g>                <g></g>
            </svg>
            <div class="contencabezado">
                <h1>SERIES TOP</h1>
            </div>
            
        </div>
        <div class="migas">
            <nav class="menu">
                <ul>
                    <li class="elementoMenu"><a href="#">Inicio</a></li>
                    <li class="elementoMenu"><a href="https://marcosfa7.github.io/CMV-publico/">Ejercicios</a></li>
                </ul>
                <br />

            </nav>
        </div>

        <div class="contenedor">
            <main>
                <div class="album">
                    <div class="container-fluid mi-container">
                        <div id="peliculas" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <br />
        <div class="pie">
            <!-- pie de pagina -->
            
            <footer>
                <br /><br /><br />
                <div>&copy; 2021 Marcos Fernández Acosta</div>
            </footer>
        </div>
        <br />
    </div>

</body>