<body>
    <!-- bloque de contenido de la pagina -->
    <div class="marco">
        <div class="encabezado">
            <div class="contencabezado">
                <h1>SERIES TOP</h1>
            </div>
        </div>
        <div class="migas">
            <nav class="menu">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Ejercicios</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="contenedor">
            <header>

            </header>
            <main>
                <div>
                    <figure>
                        <h3>Serie perdidos</h3>
                        <a href="imagenes/perdidos.jpg" download>
                            <img src="../../assets/imagenes/perdidos.jpg" alt="perdidos">
                        </a>
                        <figcaption><a href="https://es.wikipedia.org/wiki/Lost" target="_blank">Poster de la serie
                                perdidos</a>
                        </figcaption>
                    </figure>
                    <figure>
                        <h3>Juego de Tronos</h3>
                        <a href="imagenes/jdt.jpg" download>
                            <img src="../../assets/imagenes/jdt.jpg" alt="juego de tronos">
                        </a>
                        <figcaption><a href="https://es.wikipedia.org/wiki/Game_of_Thrones" target="_blank">Imagen de la
                                serie
                                Juego de Tronos</a></figcaption>
                        <!---->
                    </figure>
                    <figure>
                        <h3>Big bang theory</h3>
                        <a href="imagenes/bigbangtheory.jpg" download>
                            <img src="../../assets/imagenes/bigbangtheory.jpg" alt="big bang theory">
                        </a>
                        <figcaption><a href="https://es.wikipedia.org/wiki/The_Big_Bang_Theory" target="_blank">Portada
                                de
                                la
                                serie Big Bang Theory</a></figcaption>
                    </figure>
                </div>

                <button onclick="mostrar()">Mostrar/Ocultar Películas</button>
                <!--<button onclick="ocultar()">Ocultar Películas</button>-->

                <p>XML original:</p>
                <p id="mensaje">...datos originales...</p>

                <p id="mensaje2">fotos...</p>
            </main>
        </div>
        <div class="pie">
            <!-- pie de pagina -->
            <footer>
                <br /><br /><br />
                <div>&copy; 2021 Marcos Fernández Acosta</div>
            </footer>
        </div>
    </div>
    
</body>